*{
  padding: 0;
  margin: 0;
}

body{
  overflow-x: hidden;
  font-family: 'Open Sans', 'sans-serif';
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

li{
  list-style: none;
  display: inline-block;
}

a{
  text-decoration: none;
  transition: all 500ms ease-in-out;
}

a:hover,
a:active{
  text-decoration: none;
}

h1,
h2,
h4{
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

p{
  font-size: 15px;
  line-height: 21px;
}


/*NAVIGATION*/
.navbar{
  background-color: #222222 !important;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-weight: 700;
  border: none;
}

.navbar a{
  color: #fff !important;
  opacity: 0.7;
}

.navbar a:hover{
  opacity: 1;
  background-color: #111111 !important;
}

/*HEADER*/
.header{
  height: 600px;
  width: 100%;
  padding: 30px 0 30px;
  margin-top: 50px;
  background-color: #111111;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}


.header h1{
  font-size: 40px;
  font-weight: 700;
  padding-top: 30px;
}

.header .btn{
  background: none;
  border: 2px solid #fff;
  font-size: 20px;
  margin-top: 10px;
  color: #fff;
}

.header .btn:hover{
  border: 2px solid #f33;
  color: #f33;
}

@media (max-width:768px) {
  .header{
    padding: 30px;
    height: 750px;
  }

  .header h1{
    font-size: 20px;
  }

  .header p{
    font-size: 10px;
  }
}

/*ABOUT*/
.about{
  padding: 50px 0 80px;
  text-align: center;
}

.about p{
  text-align: left;
  font-family: Arial;
  font-size: 20px;
}

/*PROJECTS*/
.projects{
  padding: 50px 0 80px;
  text-align: center;
  background-color: #333355;
}

.projects img{
  cursor: pointer;
}

.projects h4,
.projects h2{
  color: white;
}

/*CONTACT*/
.contact{
  padding: 30px 0 50px;
  text-align: center;
}

.contact h2{
  color: #4c4c4c;
  margin: 0px 0 30px;
}

.contact .btn{
  border-radius: 0;
  width: 100%;
  font-size: 15px;
  background-color: #f08080;
  color: white;
}

.contact .social{
  font-size: 50px;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 5px;
  margin-right: 10px;
}
